*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    margin: 0;
    font-family: $primary-font-family;
    color: $primary-text-color;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(23, 24, 33, 0.4)),
            url(../images/bcgMain.jpg);
    background-color: #c4c4c4;
    background-size: cover;
    background-attachment: fixed;

    &.modal-open {
        overflow: hidden;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
}