.header {
    background-color: green;
}

// .nav {
// }

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.nav__item {
    margin: 15px;
    background-color: brown;
}