$primary-font-family: roboto, sans-serif;
$secondary-font-family: raleway, sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primery-white-color: #fff;
$primery-black-color: #2f303a;
$secondary-bgc: #f5f4fa;
$icon-bgc: #afb1b8;
$our-timing-effect: cubic-bezier(0.4, 0, 0.2, 1);